<div class="flex flex-col gap-y-20 h-screen w-full items-center justify-center">
    <p class="text-white">this is a simple sign up page for angular 18</p>

    <form class="flex flex-col gap-4">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">

            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <app-password-form />
    </form>

</div>